extends layout

block content
	.w3-card-4
		header.w3-teal.w3-border.w3-center
			h2= obra[0].tit
		.w3-container.w3-left
			table.w3-table
				tr
					th Título:
						td= obra[0].tit
				tr
					th Código:
						td= obra[0].id
				tr
					th Tipo:
						td= obra[0].tipo
				if(obra[0].comp != ' ')
					tr
						th Compositor:
							td= obra[0].comp
				if(obra[0].arr != ' ')
					tr
						th Arranjador:
							td= obra[0].arr
		.w3-container.w3-center
			h3 Partituras disponíveis:
		.w3-container
			table.w3-table-all
				tr.w3-green
					th Instrumento
					th Voz
					th Clave
					th Afinação
				each p in parts
					tr
						td= p.inst
						td= p.voz
						td= p.clave
						td= p.afinacao
			a(href='/')
				button.w3-button.w3-green.w3-margin.w3-right Voltar